
<h1>Hola k ase, compra un coche o k ase?</h1>
{{#each muestraCoches}}
    <section>
        <figure>
            <img src="">
            <figcaption>
            </figcaption>
        </figure>
        <article>
            <p>Marca</p>
            <p>Modelo</p>
            <p>Disponibilidad</p>
        </article>
    </section>
{{/each}}