<form action="/crearCoche" method="POST"> {{!Se crea aquí en el front la url en la que se llama al cotrolador (a través del router) que permite crear un nuevo coche utilizando el new Coche, que enlaza con el models/coche requerido en cocheController}}
     <fieldset> {{!El name del input tiene que coincidir con los atributos del modelo models/Coche.js}}
         <label for="marca">Marca</label>
         <input name="marca"type="text" placeholder="Marca">

          <label for="modelo">Modelo</label>
         <input name="modelo"type="text" placeholder="Modelo">

          <label for="color">Color</label>
         <input name="color"type="text" placeholder="Color">

          <label for="anio">Año</label>
         <input name="anio"type="text" placeholder="Año">


          <label for="combustible">Combustible</label>
         <input name="combustible"type="text" placeholder="Combustible">

         <label for="transmision">Transmisión</label>
         <input name="transmision"type="text" placeholder="Transmision">

         <label for="precio_venta">Precio venta</label>
         <input name="precio_venta"type="text" placeholder="Precio venta">

         <label for="foto">Foto</label>
         <input name="foto"type="text" placeholder="Foto">

         <input value="Enviar"type="submit">
    </fieldset> 

    

</form>