<h1>Bienvenido a la chuleticah</h1>

<ul>
    <li><a href="/listadoCoches">Listado de carros WEY</a></li> {{!Se crea aquí en el front la url que va a llevar al listado de coches}}
    <li><a href="/formularioCoche">Crear carros WEY</a></li> {{!Se crea aquí en el front la url que va a llevar al formulario de registro de un nuevo coche}}
</ul>
